export ENVIRONMENT_NAME="haas-401"
export PROJECT_NAME=af-pks

export VSPHERE_USER="administrator@vsphere.local"
export VSPHERE_PASSWORD="<redacted>"

export OPSMAN_DOMAIN="opsmgr-02.haas-401.pez.pivotal.io"
export OPSMAN_SSH_PASSWORD="<redacted>"
export OPSMAN_USER=admin
export OPSMAN_PASSWORD="<redacted>"
export OM_KEY=/home/ubuntu/.ssh/opsmanrsa
export OPSMAN_DECRYPTION_PASSPHRASE="<redacted>"

export PKS_SUBDOMAIN_NAME=api.pks
export PKS_DOMAIN_NAME=haas-401.pez.pivotal.io

export PKS_HARBOR="harbor.haas-401.pez.pivotal.io"
export HARBOR_ADMIN_PASSWORD="<redacted>"

export NSXT_USER=admin
export NSXT_PASSWORD="<redacted>"
export NSXT_URL="nsxmgr-01.haas-401.pez.pivotal.io"

export PIVNET_TOKEN="7db65958f4bb46e38564da364596efa5-r"

